---

---

<div
    class="font-serif text-2xl text-center"
    role="definition"
    itemscope
    itemtype="https://schema.org/DefinedTerm"
>
    <dl>
        <dt class="space-x-2">
            <dfn itemprop="name">crux</dfn>
            <span>/ˈkrʌks/</span>
            <span>noun</span>
        </dt>
        <dd itemprop="description">
            <ol class="list-decimal list-inside text-left pl-6">
                <li>the most difficult part (of the climb)</li>
                <li>a particular point of difficulty.</li>
            </ol>
        </dd>
    </dl>
</div>
