---
interface Props {
    id: string;
    title: string;
}

const { id, title }: Props = Astro.props;
---
<div id={id} class="gap-4 p-x-8 inline-grid grid-auto-rows-min grid-cols-[auto_1fr] items-baseline">
    <span class="text-4xl">#</span>
    <span class="text-4xl">{title}</span>
    <div class="col-start-2 text-lg text-muted-foreground">
        <slot />
    </div>
</div>
