---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<div class:list={["text-6xl font-bold radial space-y-4", className]} {...attrs}>
    <slot />
</div>

<style>
    .radial {
        position: relative;
        overflow: hidden;
    }

    .radial::after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%) rotate(-10deg);
        width: 250%;
        height: 100px;
        background: radial-gradient(
            ellipse 70% 150% at 50% 50%,
            rgba(255, 111, 97, 0.25) 0%,
            rgba(255, 111, 97, 0.1) 50%,
            rgba(132, 94, 194, 0.05) 80%,
            transparent 100%
        );
        filter: blur(60px);
        z-index: 2;
        pointer-events: none;
    }
</style>
