---
import { Icon } from 'astro-icon/components';
import { Gradient } from '@cruxy/components';

interface Service {
    full: string;
    small?: string;
    link: string;
    icon: string;
}

const services: Service[] = [
    { full: "Freelance", link: "#", icon: 'mdi:briefcase' },
    { full: "Remote", link: "#", icon: 'mdi:earth' },
    { full: "Developer", small: "Dev", link: "#", icon: 'mdi:code-block-tags' },
];

---
<section>
    <ul class="glass drop-shadow fade-up-1">
        {services.map(service => (
            <li>
                <a href={service.link} target="_self">
                    <span class="icon"><Icon name={service.icon} /></span>
                    <span class="full">{service.full}</span>
                    <span class="small">{service.small ? service.small : service.full}</span>
                </a>
            </li>
        ))}
    </ul>
</section>

<style>
    section {
        text-align: center;
        font-size: 1.5rem;

        font-family: var(--cruxy--font--serif), serif;
        font-weight: 700;

        ul {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            border-radius: 1rem;
            border: 2px solid var(--cruxy--color--border-primary-100);

            li {
                display: flex;
                flex-direction: column;
                cursor: pointer;
                text-align: center;
            }

            a {
                position: relative;
                display: inline-flex;
                flex-direction: column;
                align-items: center;

                padding: 1.25rem;
                width: 100%;
                text-align: center;
            }

            a:hover {
                color: var(--cruxy--color--text-primary-100);
                background-color: var(--cruxy--color--background-primary-100);
            }

            li:first-child a:hover {
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
            }

            li:last-child a:hover {
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }

            .icon {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                vertical-align: middle;
            }
        }
    }

    .small {
        display: block;
    }
    .full {
        display: none;
    }

    @container main (min-width: 640px) {

        section ul {
            width: auto;
            border-radius: 1rem;
        }

        section ul a {
            flex-direction: row;
        }

        .small {
            display: none;
        }

        .full {
            display: block;
        }

        li:not(:last-child) a::after {
            height: 2rem;
        }

        .icon {
            margin-right: 0.5rem;
        }
    }

</style>