:root {
    --c-primary: #3b82f6;
    --c-secondary: #6b7280;
    --c-white: #ffffff;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;

    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    border: 2px solid transparent;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button svg {
    width: 1.2em;
    height: 1.2em;
}


button.primary {
    --btn-bg: var(--c-primary);
    --btn-text: var(--c-white);
}

button.secondary {
    --btn-bg: var(--c-secondary);
    --btn-text: var(--c-white);
}

button.primary,
button.secondary {
    background-color: var(--btn-bg);
    border-color: var(--btn-bg);
    color: var(--btn-text);
}

button.primary:hover,
button.secondary:hover,
button.danger:hover {
    filter: brightness(0.9);
}

button.outline {
    background-color: transparent;
    color: var(--btn-bg);
    border-color: var(--btn-bg);
}

button.outline:hover {
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

button.icon-only {
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    gap: 0;
}

button.icon-only svg {
    font-size: 1.5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}