@layer reset;

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer general, containers, effects;

:root {
  --cruxy--color--white: oklch(0.95 0 0);
  --cruxy--color--black: oklch(0 0 0);

  --cruxy--color--purple-muted: oklch(0.5671 0.1517 299.04);

  --cruxy--color--orange: oklch(69% 0.2 44);
  --cruxy--color--orange-muted: oklch(69% 0.17 28);

  --cruxy--font--sans: "Montserrat", sans-serif;
  --cruxy--font--serif: "Brygada", serif;
  --cruxy--font--mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;

  --cruxy--style--global--font-size: 16px;
  --cruxy--style--global--font-family: var(--cruxy--font--mono);
  --cruxy--style--global--content-size: 1360px;
  --cruxy--style--global--wide-size: 1920px;

  --cruxy--breakpoint--sm: 640px;
  --cruxy--breakpoint--md: 768px;

  --cruxy--header--height: 4rem;

  --cruxy--spacer--unit: 1.25rem;
  --cruxy--background--grid--size: 2.5rem;

  --cruxy--effect--fade-up--initial-delay: 0.5s;
  --cruxy--effect--fade-up--interval: 0.3s;
  --cruxy--effect--fade-up--duration: 1s;

  --ease-in-out--half-circle: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

:root[data-theme="dark"],
.theme-dark {
  --background: var(--cruxy--color--black);
  --muted-background: oklch(15% 0 0);
  --foreground: var(--cruxy--color--white);
  --muted-foreground: oklch(85% 0 0);
  --primary: var(--cruxy--color--orange);
  --muted-primary: oklch(from var(--primary) calc(l * 1.2) c h);
  --secondary: var(--cruxy--color--purple);
  --anchor: var(--cruxy--color--orange);
  --muted-anchor: oklch(from var(--anchor) calc(l * 1.2) c h);
  --opaque: oklch(0 0 0);
  --glass: oklch(1 0 1);

  --cruxy--background--grid--color: oklch(1 0 0 / 0.05);
  --cruxy--background--grid--bg-color: oklch(0 0 0);
}

:root[data-theme="light"],
.theme-light {
  --background: var(--cruxy--color--white);
  --muted-background: oklch(90% 0 0);
  --foreground: var(--cruxy--color--black);
  --muted-foreground: oklch(30% 0 0);
  --anchor: var(--cruxy--color--orange);
  --muted-anchor: oklch(from var(--anchor) calc(l * 1.2) c h);
  --primary: var(--cruxy--color--orange);
  --muted-primary: oklch(from var(--primary) calc(l * 1.2) c h);
  --secondary: var(--cruxy--color--orange);
  --opaque: oklch(1 0 0);
  --glass: oklch(1 0 1);
  --border: oklch(0 0 0);

  --cruxy--color--border-primary-100: oklch(0 0 0 / 0.05);
  --cruxy--background--grid--color: oklch(0 0 0 / 0.05);
  --cruxy--background--grid--bg-color: oklch(1 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    @extend .theme-dark;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    @extend .theme-light;
  }
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
}

@layer general {
  html {
    color-scheme: dark light;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: var(--cruxy--style--global--font-family);
    font-size: var(--cruxy--style--global--font-size);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  main {
    min-height: calc(100vh - var(--cruxy--header--height));
  }
}

@layer containers {
  main {
    container-type: inline-size;
    container-name: main;
  }
}

@layer effects {
  .bg-grid.lines {
    background-color: var(--cruxy--background--grid--bg-color);
    background-image:
      linear-gradient(
        var(--cruxy--background--grid--color) 1px,
        transparent 1px
      ),
      linear-gradient(
        90deg,
        var(--cruxy--background--grid--color) 1px,
        transparent 1px
      );
    background-size: var(--cruxy--background--grid--size)
      var(--cruxy--background--grid--size);
  }

  .bg-grid.dotted {
    background-color: var(--cruxy--background--grid--bg-color);
    background-image: radial-gradient(
      circle,
      var(--cruxy--background--grid--color) 1px,
      transparent 1px
    );
    background-size: var(--cruxy--background--grid--size)
      var(--cruxy--background--grid--size);
  }

  .drop-shadow {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.1))
      drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  }

  .fade-up-1 {
    opacity: 0;
    animation: 0.3s fadeUp forwards;
  }

  .fade-up-2 {
    opacity: 0;
    animation: 0.6s fadeUp forwards;
  }
  .fade-up-3 {
    opacity: 0;
    animation: 0.9s fadeUp forwards;
  }
  .fade-up-4 {
    opacity: 0;
    animation: 1.2s fadeUp forwards;
  }
  .fade-up-5 {
    opacity: 0;
    animation: 1.5s fadeUp forwards;
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20%);
      transition-timing-function: linear;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .blob {
    position: absolute;
    border-radius: 50%;
    filter: blur(60px);
    opacity: 0.2;
    z-index: 0;
  }
  .blob1 {
    background: var(--accent1);
    width: 400px;
    height: 400px;
    top: -100px;
    left: -150px;
  }
  .blob2 {
    background: var(--accent2);
    width: 300px;
    height: 300px;
    bottom: 100px;
    right: -100px;
  }
  .blob3 {
    background: var(--accent3);
    width: 250px;
    height: 250px;
    top: 500px;
    right: 200px;
  }
}

@utility text-foreground {
  color: var(--foreground);
}

@utility text-muted-foreground {
  color: var(--muted-foreground);
}

@utility text-background {
  color: var(--background);
}

@utility text-muted-background {
  color: var(--muted-background);
}

@utility text-anchor {
  color: var(--muted-anchor);

  @variant hover {
    color: var(--anchor);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
}

@utility text-gradient {
  background-image: linear-gradient(
    135deg,
    var(--cruxy--color--orange-muted),
    var(--cruxy--color--purple-muted)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility bg-background {
  background-color: var(--background);
}

@utility bg-muted-background {
  background-color: var(--muted-background);
}

@utility bg-card {
  background-color: var(--card);
}

@utility bg-primary {
  background-color: var(--primary);
}

@utility bg-muted-primary {
  background-color: var(--muted-primary);
}

@utility bg-secondary {
  background-color: var(--secondary);
}

@utility font-serif {
  font-family: var(--cruxy--font--serif);
}

@utility font-sans {
  font-family: var(--cruxy--font--sans);
}

@utility font-mono {
  font-family: var(--cruxy--font--mono);
}

@utility bg-side-fade {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}

@utility bg-opaque {
  background-color: var(--opaque);
}

@utility bg-mask {
  background-color: var(--background);
  mask-image: linear-gradient(to bottom, white -70%, transparent 75%);
}

@utility border-border {
  border-color: var(--border) / 5%;
}
