---

---

<div class="definition-entry" role="definition" itemscope itemtype="https://schema.org/DefinedTerm">
    <dl>
        <dt>
            <dfn itemprop="name">crux</dfn>
            <span class="pronunciation">/ˈkrʌks/</span>
            <span class="part-of-speech">noun</span>
        </dt>
        <dd itemprop="description">
            <ol>
                <li>the most difficult part (of the climb)</li>
                <li>a particular point of difficulty.</li>
            </ol>
        </dd>
    </dl>
</>

<style>
    .definition-entry {
        font-family: var(--cruxy--font--serif), serif;
        font-size: 1.5rem;
        text-align: center;
    }

    ol {
        margin: 0;
        padding-left: 1.5rem;
        text-align: left;
        list-style: decimal inside;
    }
</style>