---
interface Props {
    size?: "small" | "base" | "lg" | "xl";
}

const { size = "base" }: Props = Astro.props;
---

<style>
    .block {
        display: block;
        height: var(--spacer-height);
    }

    :root {
        --spacer-height: var(--cruxy--spacer--unit);
    }

    .small {
        --spacer-height: calc(var(--cruxy--spacer--unit) * 0.5);
    }

    .medium {
        --spacer-height: var(--cruxy--spacer--unit);
    }

    .lg {
        --spacer-height: calc(var(--cruxy--spacer--unit) * 2);
    }

    .xl {
        --spacer-height: calc(var(--cruxy--spacer--unit) * 4);
    }
</style>

<div class={`block ${size}`}></div>
