---
import { Layout } from "@cruxy/layouts";
import { Icon } from "astro-icon/components";
import {
  Cover,
  Spacer,
  HeaderConfig,
  Skewed,
  Badge,
  Button,
} from "@cruxy/components";
import {
  FreelanceRemoteDeveloper,
  Definition,
  Hero,
  Typewriter,
  Keyboard,
  Hashtag,
} from "@cruxy/components/landing";

const header: HeaderConfig = {
  instantSticky: true,
};

---

<Layout header={header}>
  <section class="bg-grid lines bg-side-fade relative">
      <Hero class="font-bold font-sans">
      <Spacer size="header" />
      <FreelanceRemoteDeveloper />
      <div class="items-left flex flex-col items-center">
        <div class="fade-up-2 flex flex-row gap-4 pt-8">
          <span class="static-prefix">we</span>
          <Typewriter words={["create", "craft", "code", "build", "design"]} />
        </div>
        <div class="fade-up-3 flex flex-row items-center justify-center gap-4">
          <span class="text-gradient pb-1">cruxy</span> things
        </div>
        <div class="fade-up-4 flex flex-row items-center justify-center gap-4">
          for you
        </div>
      </div>
      <Spacer />
    </Hero>
  </section>

  <section class="bg-opaque flex flex-col items-center justify-center py-20">
    <Definition />
  </section>


  <div class="bg-background text-foreground p-8">
        <div class="max-w-4xl xl:max-w-full mx-auto grid grid-cols-1 xl:grid-cols-3 gap-8">
            <section
                class="flex flex-col font-mono"
            >
                <Hashtag id="freelance" title="Freelance">
                    <p>Yes, the rumors are true. I'm currently available.</p>
                    <p>Hire me while you can!<p>
                <Button variant="primary" class="inline-flex w-fit items-center xl:self-center mt-4">
                    <Icon name="mdi:download" class="mr-2 inline-block" />
                    Download CV
                </Button>
                </Hashtag>
            </section>

            <section
                class="space-y-8 font-mono"
            >
                <Hashtag id="remote" title="Remote">
                    <p>My office is wherever there's a strong 4G signal.</p>
                    <p>I'm a seasoned remote professional with very flexible working hours.</p>
                </Hashtag>
            </section>
            <section class="space-y-8 font-mono">
                <Hashtag id="developer" title="Developer">
                    <p>Backend, frontend, platform engineering. I've done it all.</p>
                    <p>We're talking decades of experience and a truly staggering number of misplaced semicolons.</p>
                <Button variant="primary" class="inline-flex w-fit items-center xl:self-center mt-4">
                    <Icon name="mdi:download" class="mr-2 inline-block" />
                    View portfolio
                </Button>
                </Hashtag>
            </section>
        </div>
    </div>
    <section class="bg-muted-background text-foreground p-8 font-mono">
        <div class="max-w-4xl mx-auto space-y-8">
            <Hashtag id="toolbox" title="Toolbox">
                <p>
                    I'm fluent across the modern tech stack, from low-level programming in <span class="font-bold">Rust</span> to
                    <span class="font-bold">cloud-native</span> systems with <span class="font-bold">Kubernetes</span> and <span class="font-bold">Kafka</span>.
                </p>
            </Hashtag>

            <Keyboard
            tabIndexStart={7}
            keys={[
                { key: "Java", href: "/skills/java" },
                { key: "Rust", href: "/skills/rust" },
                { key: "Cloud", href: "/skills/cloud" },
                { key: "Kafka", href: "/skills/kafka" },
            ]}
            />
        </div>
    </section>
</Layout>
