---
import { Layout, } from '@cruxy/layouts';
import { Cover, Spacer, HeaderConfig, Hero, Typewriter, Gradient, Definition } from '@cruxy/components';
import { ServicesBar } from '@cruxy/components/landing';
const header: HeaderConfig = {
	instantSticky: true
}
import ecImg from '../assets/ec_full.webp';

---
<Layout header={header}>
	<section class="bg-grid lines bg-side-fade">
		<Spacer size="xl" />

		<ServicesBar />

		<Hero class="hero-section">
			<Spacer size="xl" />

			<div class="line fade-up-2">
				<span class="static-prefix">we</span>
				<Typewriter
					words={[
						"create",
						"craft",
						"code",
						"build",
						"design"
					]}  />
			</div>
			<div class="line fade-up-3"><Gradient>cruxy</Gradient> things</div>
			<div class="line fade-up-4">for you</div>

			<Spacer size="xl" />
		</Hero>

	</section>

	<section class="bg-opaque flex flex-col justify-center items-center">
		<Spacer size="xl" />
		<Definition />
		<Spacer size="xl" />
	</section>

	<section class="bg-grid dotted justify-center">
		<Cover img={ecImg}>

		</Cover>
	</section>

</Layout>

<style>
	.line {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;
	}

</style>