<footer>
    <div class="pages">
        <h1>Pages</h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/skills">Skills</a></li>
        </ul>
    </div>
    <div class="legal">
        <h1>Legal</h1>
        <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
</footer>

<style>

    footer {
        background: var(--cruxy--color--background-secondary-100);
        display: flex;
    }

    footer > div {
        padding: 1rem;
    }

    .pages, .legal {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 1rem;
    }


</style>