---
import CruxyLogo from "../logo/CruxyLogo.astro";
import ToggleTheme from "./ToggleTheme.astro";
interface HeaderConfig {
    instantSticky?: boolean;
}

const {instantSticky = true}: HeaderConfig = Astro.props;
---
<header id="header" class:list={instantSticky ? 'instant-sticky' : ''}>
    <div class="mask"></div>
    <div class="container">
        <a href="/" target="_self" rel="home" class="logo-link">
            <CruxyLogo width="40px"/>
        </a>
        <h1 class="site-title">
            <a href="/" target="_self" rel="home">cruxy</a>
        </h1>
        <h1>
            <a href="/about" target="_self">about</a>
        </h1>
        <ToggleTheme />
    </div>
</header>

<style>
    header {
        --header-font-size: 2rem;
        --header-shrink-ratio: 0.6;

        position: sticky;
        height: var(--cruxy--header--height);
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;

        &.instant-sticky {
            margin-top: calc(var(--cruxy--header--height) * -1);
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0 1rem 0 0;
        width: 100%;
        height: 100%;
        z-index: 2000;

        font-size: var(--header-font-size);
    }

    @media (prefers-reduced-motion: no-preference) {
        .container {
            transition: transform 0.05s linear;
            transform-origin: left top;
        }

        header[data-scroll=true] .container {
            transform: scale(var(--header-shrink-ratio));

            h1 {
                display: none
            }
        }
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 500;
        background-color: var(--cruxy--color--background-primary-100);
        mask-image: linear-gradient(to bottom, white -70%, transparent 75%);
    }

</style>

<script>
    const setHeaderScroll = () => {
        const header = document.getElementById('header');
        if (!header) {
            return;
        }
        header.setAttribute('data-scroll', window.scrollY > 1 ? 'true' : 'false');
    }

    (() => {
        document.addEventListener('scroll', setHeaderScroll);
        document.addEventListener('astro:after-swap', () => {
            window.addEventListener('scroll', setHeaderScroll);
        });
    })();
</script>