---
import { Icon } from 'astro-icon/components';

---
<button class="icon-only"
    onclick="togglePreference()">
    <Icon name="mdi:white-balance-sunny" />
    <span class="sr-only">
        Toggle theme
    </span>
</button>

<script is:inline>
    const storageKey = 'theme-preference';

    const getColorPreference = () => {
        let preference = localStorage.getItem(storageKey);

        if (!preference) {
            preference = window.matchMedia('(prefers-color-scheme: dark)').matches
                ? 'dark'
                : 'light';
        }

        return preference;
    }

    const setPreference = (themeName) => {
        localStorage.setItem(storageKey, themeName)

        document.firstElementChild
            .setAttribute('data-theme', themeName);
    }

    const togglePreference = () => {
        setPreference(getColorPreference() === 'dark' ? 'light' : 'dark');
    }

    const applyTheme = () =>  {
        const theme = getColorPreference();
        setPreference(theme);
    }

    (() => {
        applyTheme();
        document.addEventListener('astro:after-swap', applyTheme);
    })();
</script>