---
import { Layout } from "@cruxy/layouts"
import { Section } from "@cruxy/components"

---
<Layout>
    <Section title="Java" id="java" class="text-foreground bg-background">
        <p>I have worked with Java ever since Java 1.5.</p>

    </Section>
    <Section
        title="Spring"
        id="spring"
        class="text-muted-foreground bg-muted-background">
            <p>I have many years of experience with Spring and its eco-system, having used it in multiple projects ranging from small applications to large-scale enterprise systems, since 2009.</p>
            <ul class="list-disc list-inside mt-4">
                <li>Building microservices with <span class="font-bold">Spring Boot</span></li>
                <li>...</li>
            </ul>
    </Section>
</Layout>
