---
interface Props {
  class?: string;
}

const { class: className, ...attrs } = Astro.props;
---

<li class:list={["pl-8 pb-4", className]} {...attrs}>
  <span class="text-gray-400 select-none mr-4">→</span>
  <slot />
</li>
