---
import { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"p"> {
  class?: string;
}

const { class: className, ...attrs } = Astro.props as Props;

const baseStyle = "text-foreground px-8 pb-4 text-lg leading-relaxed max-w-4xl mx-auto";
---
<p class:list={[baseStyle, className]} {...attrs}>
    <slot />
</p>
