---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";

interface CoverProps extends HTMLAttributes<"section"> {
  img?: string;
  alt?: string;
  title?: string;
  overlay?: "dark" | "light" | "none";
  class?: string;
}

let {
  img = "",
  alt = "",
  title = "",
  overlay = "none",
  class: className,
  ...props
} = Astro.props as CoverProps;

const overlayStyle = {
  dark: "bg-black/40",
  light: "bg-black/10",
  none: "bg-transparent",
}[overlay];
---

<section class:list={["cover", className]} {...props}>
  <Image src={img} alt={alt} title={title} fetchpriority="high" />
  {
    overlay && overlay !== "none" && (
      <div class:list={["overlay", overlayStyle]} />
    )
  }
  <slot />
</section>

<style is:global>
  .cover {
    --image-index: -2;
    --overlay-index: -1;
    --content-index: 0;

    position: relative;
    container: cover inline-size;
    isolation: isolate;
    width: 100vw;
    height: 100vh;

    &:first-of-type {
      padding-top: var(--cruxy--header--height);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: var(--image-index);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: var(--overlay-index);
    }
  }
</style>
